.DS_Store
Webserv
*.log
console_log
.htpasswd_jwon
.htpasswd_holee
.htpasswd_yechoi
.htpasswd_tonybyeon
jwon.conf
holee.conf
yechoi.conf
multiple_same
file_should_exist_after
tonybyeon.conf
.tmp*
.checkfd*

# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.toptal.com/developers/gitignore/api/c++
