body {
	background-color: black;
}

/* title */

.indexContainer {
	flex: 1;
	background-color: black;
	color: white;
}

.indexContainer h1 {
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-reflect: below 0 linear-gradient(transparent, #0005);
	margin-bottom: 2.5rem;
}

.indexContainer img {
	font-size: 1.5rem;
	position: fixed;
	top: 1rem;
	left: 3rem;
	-webkit-box-reflect: below 0 linear-gradient(transparent, #0005);
	margin-bottom: 2.5rem;
}

.indexContainer p {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* button */

.bt2Container {
	background: #050801;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	cursor: pointer;
}

.bt2Container a {
	position: absolute;
	display: inline-block;
	padding: 25px 30px;
	margin: 40px 0px;
	color: #03e9f4;
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	letter-spacing: 4px;
	-webkit-box-reflect: below 0 linear-gradient(transparent, #0005);
}

.bt2Container a:hover {
	background: #03e9f4;
	color: #050801;
	box-shadow: 0 0 5px #03e9f4,
				0 0 25px #03e9f4,
				0 0 50px #03e9f4,
				0 0 200px #03e9f4;
}

.bt2Container a span {
	position: absolute;
	display: block;
}

.bt2Container a span:nth-child(1) {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, transparent, #03e9f4);
	animation: animate1 1s linear infinite;
}

.bt2Container a span:nth-child(2) {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 2px;
	height: 100%;
	background: linear-gradient(to bottom, transparent, #03e9f4);
	animation: animate2 1s linear infinite;
	animation-delay: 0.5s;
}

.bt2Container a span:nth-child(3) {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, transparent, #03e9f4);
	animation: animate3 1s linear infinite;
}

.bt2Container a span:nth-child(4) {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 2px;
	height: 100%;
	background: linear-gradient(to top, transparent, #03e9f4);
	animation: animate4 1s linear infinite;
	animation-delay: 0.5s;
}

@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}

/* form */

.signupForm {
	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
	margin-top: 5rem;
	margin-bottom: 5rem;
	background: rgba(20, 40, 40, 0.8);
}

.signupForm h2 {
	font-weight: 300;
	margin-right: 5rem;
}

.inputFields {
	margin: 1rem 0;
	font-size: 1rem;
	padding: 0.7rem;
	width: 15.5rem;
	border: 1px solid #0ab4b4;
	border-top: none;
	border-left: none;
	border-right: none;
	background: rgba(20, 20, 20, 0.2);
	color: white;
	outline: none;
}

.noBullet {
	list-style-type: none;
	padding: 0;
}
